<div *ngIf="this.barChartData.length > 0 && this.barChartLabels.length > 0; then hasData else noData"></div>
<ng-template #hasData>
    <div style="display: block" class='padding-data'>
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors">
        </canvas>
    </div>
</ng-template>
<ng-template #noData>
    <div class="no-data-available">
        <mat-icon class="big-icon">warning</mat-icon>
        <div>No available period for this data !</div>
        <div>Please try again with another period</div>
    </div>
</ng-template>